#!/usr/local/bin/bash
#set -x

YAZVS="{{ bsd_yazvs_bin_dir }}/{{ bsd_yazvs_bin }}"
{% if bsd_validate_dns_nameserver %}
NAMESERVER="{{ bsd_validate_dns_nameserver }}"
{% endif %}
DOMAIN="{{ bsd_validate_dns_domain }}"
KEYDIR="{{ bsd_validate_dns_keydir }}"
EXPDAYS="{{ bsd_validate_dns_expdays }}"
VERBOSE="{{ bsd_validate_dns_verbose }}"
DEBUG="{{ bsd_validate_dns_debug }}"

ERR="0"

(($DEBUG)) && printf "NAMESERVER: $NAMESERVER\n"
(($DEBUG)) && printf "DOMAIN: $DOMAIN\n"

cd $KEYDIR
for i in $DOMAIN; do
    (($VERBOSE)) && printf " *** DOMAIN: $i\n"
    if [ -z ${NAMESERVER+x} ]; then
	if [ ! -e $i ]; then
	    (dig $i axfr > $i)
	fi
	if [ ! -e $i.ksk ]; then
	    (dig $i dnskey | awk '$5 == 257' > $i.ksk)
	fi
	LOG=$($YAZVS -a $i.ksk -e $EXPDAYS $i)
	(($VERBOSE)) && printf "$LOG\n"
#	if [[ ! $LOG == *"0 expiring RRSIGs found"* ]]; then
#	    printf "$i : Expiring RRSIGs in $EXPDAYS days found.\n"
	if [[ $LOG == *"FAILED"* ]]; then
	    printf "\n$i   Validation FAILED -----------------------------------------\n"
	    printf "$i : $LOG\n"
	    ERR=1
	fi
    else
	if [ ! -e $i ]; then
	    (dig @$NAMESERVER $i axfr > $i)
	fi
	if [ ! -e $i.ksk ]; then
	    (dig $i dnskey | awk '$5 == 257' > $i.ksk)
	fi
	LOG=$($YAZVS -a $i.ksk -e $EXPDAYS -m $NAMESERVER $i)
	(($VERBOSE)) && printf "$LOG\n"
#	if [[ ! $LOG == *"0 expiring RRSIGs found"* ]]; then
#	    printf "$i : Expiring RRSIGs in $EXPDAYS days found.\n"
	if [[ $LOG == *"FAILED"* ]]; then
	    printf "\n$i   Validation FAILED -----------------------------------------\n"
	    printf "$i : $LOG\n"
	    ERR=1
	fi
    fi
done

(($ERR)) && exit $ERR || exit 0
